:root {
  --font-family-main: 'Roboto', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --color-text-main: #757575;
  --color-text-title: #212121;
  --color-logo: #2196f3;
  --color-logo-light-bgd: #000000;
  --color-logo-dark-bgd: #ffffff;
  --color-button-hover: #188ce8;
  --color-bgd-main: #ffffff;
  --color-bgd-secondary: #2f303a;
  --color-bgd-team: #f5f4fa;
  --color-text-adress-link: rgba(255, 255, 255, 0.6);
  --color-fill-icon: #afb1b8;
}

body {
  font-family: var(--font-family-main);
  color: var(--color-text-main);
  background-color: var(--color-bgd-main);
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.navigation-link.link.current {
  position: relative;
  color: var(--color-logo);
}
.navigation-link.link.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -33px;

  height: 4px;
  width: 100%;
  background-color: var(--color-logo);
  border-radius: 2px;
}
/* ==========START HEADER========== */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.logo-light {
  color: var(--color-logo-light-bgd);
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-logo);
}

.connection-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-main);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-link:hover,
.connection-link:focus {
  color: var(--color-logo);
}

.connection-icon {
  margin-right: 10px;
  fill: var(--color-text-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-link:hover > .connection-icon,
.connection-link:focus > .connection-icon {
  fill: var(--color-button-hover);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .logo.link {
  margin-right: 93px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item:not(:nth-last-child(-n + 1)) {
  margin-right: 50px;
}

.connection-list {
  display: flex;
  align-items: center;
}

.connection-item:not(:nth-last-child(-n + 1)) {
  margin-right: 50px;
}
/* ==========END HEADER========== */

/* ==========START MAIN========== */

/* ==========START HERO========== */

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-bgd-secondary);
  padding-top: 200px;
  padding-bottom: 200px;
}
.title-hero {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-logo-dark-bgd);
}

.button {
  margin-right: auto;
  margin-left: auto;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-logo-dark-bgd);
  background-color: var(--color-logo);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--color-button-hover);
}
/* ==========END HERO========== */

/* ==========START FEATURES========== */
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-title);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.features-list {
  display: flex;
  margin-left: -30px;
}
.features-item {
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.features-icon-rect {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* ========== START FLEX ACTIVITY ========== */
.activity-list {
  display: flex;
  justify-content: space-between;
}
.activity.section {
  padding-top: 0px;
}

.activity-item {
  position: relative;
}
.activity-description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-logo-dark-bgd);
  background: rgba(47, 48, 58, 0.8);
}

/* ==========END FEATURES========== */

/* ==========START WHAT ARE WE DOING========== */

.secondary-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}
/* ==========END WHAT ARE WE DOING========== */

/* ==========START OUR TEAM========== */
.team {
  background-color: var(--color-bgd-team);
}
.team-item {
  background-color: var(--color-bgd-main);
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}
.team-item-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}
.team-item-foot {
  padding: 30px 32px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: var(--color-fill-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-logo);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--color-logo-dark-bgd);
}

/* ==========END OUR TEAM========== */

/* ==========START CLIENTS========== */
.clients-list {
  display: flex;
  margin-left: -30px;
}

.clients-item {
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-link {
  display: flex;
  border: 1px solid var(--color-fill-icon);
  border-radius: 4px;
  height: 92px;
  align-items: center;
  justify-content: center;
  fill: var(--color-fill-icon);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--color-logo);
}

.clients-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--color-logo);
}
/* ==========END CLIENTS========== */
/* ==========END MAIN========== */

/* ==========START FOOTER========== */
.footer {
  background-color: var(--color-bgd-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-dark {
  color: var(--color-logo-dark-bgd);
}
.adress {
  font-style: normal;
  margin-top: 20px;
}
.adress-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-logo-dark-bgd);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-location:hover,
.adress-location:focus {
  color: var(--color-logo);
}
.adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-adress-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--color-logo);
}

.adress-item {
  margin-bottom: 9px;
}
.adress-item:last-child {
  margin-bottom: 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-adress {
  margin-right: 70px;
}

.footer-join {
  margin-bottom: 20px;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--color-logo);
}

/* ==========END FOOTER========== */

/* ==========START PORTFOLIO========== */
.filters-btn {
  padding: 6px 22px;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  background-color: var(--color-bgd-team);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--color-logo);
  color: var(--color-logo-dark-bgd);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.drafts-item {
  box-sizing: border-box;
}
.drafts-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-title);
}
.drafts-description {
  color: var(--color-text-main);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.filters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.filters-item {
  margin-right: 8px;
}
.filters-item:last-child {
  margin-right: 0px;
}
.drafts-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* for flex-basis: calc */
}
.drafts-item {
  box-sizing: border-box;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.drafts-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.drafts-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drafts-link:hover,
.drafts-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.drafts-specification {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: var(--font-family-main);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-logo-dark-bgd);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drafts-thumb {
  overflow: hidden;
  position: relative;
}

.drafts-link:hover .drafts-specification,
.drafts-link:focus .drafts-specification {
  opacity: 1;
  transform: translateY(0%);
}
/* ==========END PORTFOLIO========== */

/* ==========START FLEXBOX========== */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* ==========BACKDROP - MODAL WINDOW========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), scale 2000ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(4);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-button-hover);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--color-logo-dark-bgd);
}
